.env
.env.local
.secret
secrets.json
mnemonic.txt
wallet.json
keystore/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

artifacts/
cache/
build/
out/
types/
typechain-types/
abis/
.remix/

coverage/
coverage.json
.nyc_output/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

~$*.docx
*.tmp
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Ignore dependency cache
.deps/
.deps

.states/

package-lock.json
yarn.lock
pnpm-lock.yaml

lcov.info

.env.*.local

*.swo

venv/
__pycache__/

broadcast/

ffi-output/

auxil/